{% extends "admin.html" %}
{%block content%}
{% load static %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  <!-- include libraries(jQuery, bootstrap) -->
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/formulario.css' %}">

  <h1 >Crear Post</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.label == 'Contenido' %}
          <small> *Las imagenes seran mostradas con el ancho maximo</small>
        {%endif%}
        {% if field.label == 'Slug' %}
          <small> *Este sera el enlace del post, dejalo vacio para que sea el nombre del titulo </small>
        {% endif %}
       
        {{ field.errors|safe }} 
        {{ field }}
      </div>
    {% endfor %}
    <button class="bigbutton" type="submit">Guardar </button>
  </form>
 
  
    
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote.min.js"></script>

{%endblock%}