{% extends 'admin.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/match.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
    <h1>{% if objetivo %}Editar Objetivo{% else %}Crear Objetivo{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Guardar Cambios</button>
        <a href="{% url 'matches'  %}" class="button cancel-button">Cancelar</a>
    </form>
{% endblock %}