<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambiar Contraseña</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="logo">
      <img src="{% static 'img/logo_NODO.png' %}" alt="Logo" />
    </div>
    <div class="logincontainer">
      <h1>Cambiar Contraseña</h1>

      <form method="post">
        {% csrf_token %}

        <label for="id_old_password">Contraseña actual:</label>
        <input
          type="password"
          name="old_password"
          id="id_old_password"
          required
        />

        <label for="id_new_password1">Nueva contraseña:</label>
        <input
          type="password"
          name="new_password1"
          id="id_new_password1"
          required
        />

        <label for="id_new_password2">Confirmar nueva contraseña:</label>
        <input
          type="password"
          name="new_password2"
          id="id_new_password2"
          required
        />

        <button type="submit">Cambiar contraseña</button>
      </form>

      <div class="back-link">
        {% if es_ejecutivo %}
          <a href="{% url 'pagina_ejecutivo' %}">Volver al panel de ejecutivo</a>
        {% else %}
          <a href="{% url 'pagina_usuario' %}">Volver al panel de usuario</a>
        {% endif %}
      </div>

      {% if form.errors %}
      <div class="error-messages">
        {% for field in form %} {% for error in field.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %} {% if messages %}
      <ul class="messages-list">
        {% for message in messages %}
        <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>