<!DOCTYPE html>
<html lang="es">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenido</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Hola, {{ request.user.username }}</h1>
      <p>Bienvenido a tu panel de usuario.</p>

      <div class="user-actions">
        <a href="{% url 'cambiar_password' %}" class="btn"
          >Cambiar contraseña</a
        >

        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Cerrar sesión</button>
        </form>
      </div>

      {% if messages %}
      <ul class="messages-list">
        {% for message in messages %}
        <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </body>
</html>
